In [1]:
import pandas as pd

In [2]:
ex = pd.read_csv('../resources/econ/exports.csv')
ex.head()

,name,slug,value,date_of_information,ranking,region
0,China,china,"$3,554,000,000,000",2021 est.,1,East and Southeast Asia
1,United States,united-states,"$2,557,000,000,000",2021 est.,2,North America
2,Germany,germany,"$2,004,000,000,000",2021 est.,3,Europe
3,France,france,"$920,864,000,000",2021 est.,4,Europe
4,Japan,japan,"$919,158,000,000",2021 est.,5,East and Southeast Asia

In [3]:
im = pd.read_csv('../resources/econ/imports.csv')
im.head()

,name,slug,value,date_of_information,ranking,region
0,United States,united-states,"$3,402,000,000,000",2021 est.,1,North America
1,China,china,"$3,091,000,000,000",2021 est.,2,East and Southeast Asia
2,Germany,germany,"$1,775,000,000,000",2021 est.,3,Europe
3,France,france,"$957,717,000,000",2021 est.,4,Europe
4,Japan,japan,"$941,671,000,000",2021 est.,5,East and Southeast Asia

In [4]:
im.date_of_information.value_counts()

2021 est.    160
2020 est.     17
2017 est.     15
2018 est.      9
2019 est.      5
2016 est.      5
2004 est.      4
2015 est.      4
2011 est.      2
2014 est.      2
2010 est.      2
Name: date_of_information, dtype: int64

In [5]:
ex.date_of_information.value_counts()

2021 est.    160
2020 est.     17
2017 est.     15
2018 est.      7
2019 est.      5
2016 est.      5
2015 est.      4
2014 est.      4
2004 est.      3
2011 est.      2
2018           1
2013 est.      1
2010 est.      1
Name: date_of_information, dtype: int64